<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop ML model</title>
</head>
<body>

<h1>Upload all necessary files</h1>

<h3>Clients</h3>
<form method=post enctype=multipart/form-data>
  <input type=file name=clients>
  <input type=submit value=Upload>
</form>

<h3>Sessions</h3>
<form method=post enctype=multipart/form-data>
  <input type=file name=sessions>
  <input type=submit value=Upload>
</form>

<h3>Products</h3>
<form method=post enctype=multipart/form-data>
  <input type=file name=products>
  <input type=submit value=Upload>
</form>

</body>
</html>